# Excel files

In [1]:
import pandas as pd

In [3]:
pd.read_excel('data for analysis.xlsx')

,Unnamed: 0,Fodder yield at cut 1,Fodder yield at cut 2,Fodder yield at cut 3,Fodder yield at cut 4,Total fodder yield,Dry matter yield,Crude proten content,Crude protein yield
0,Sole rye V1,131.0050,145.4525,157.7725,168.5700,602.8000,128.7375,12.25,15.771483
1,NaN,122.7725,135.7625,163.2700,161.9275,583.7325,124.7050,11.37,14.179869
2,NaN,123.2775,133.0525,175.5875,172.3100,604.2200,129.4975,11.37,14.723777
3,V1+S2,136.1375,153.3025,150.3075,149.2525,589.0000,116.1100,14.00,16.255934
4,NaN,141.6900,163.3175,164.6625,150.5225,620.1925,122.1900,13.12,16.032044
5,NaN,144.3075,156.1000,176.9575,150.6375,627.9950,123.7850,13.12,16.241553
6,V1+S3,126.8550,167.0250,156.4300,105.0500,555.3600,106.3000,15.75,16.742975
7,NaN,131.3200,164.6800,168.7300,119.7100,584.4325,111.9100,14.37,16.081224
8,NaN,132.9450,178.8025,164.2700,99.6700,575.6875,110.2950,15.75,17.372475
9,V1+S4,121.2050,133.8225,116.7525,109.6225,481.4025,90.3325,18.37,16.594153
10,NaN,125.7375,148.1075,138.2375,120.2400,532.3225,99.9625,17.50,17.492939
11,NaN,119.7825,122.8900,124.8425,109.7650,477.2800,89.4950,18.37,16.440917
12,Sole rye V2,125.3025,131.8375,127.1025,94.2075,478.4575,109.1500,11.37,12.409892
13,NaN,129.7850,135.0100,139.6650,111.5625,516.0225,117.8650,10.50,12.376099
14,NaN,125.2300,132.6800,149.4225,97.3300,504.6625,115.3550,12.25,14.130807
15,V2+S2,115.0300,130.6425,123.8550,61.8375,431.3650,95.3500,12.25,11.679598
16,NaN,127.6325,148.3025,133.8625,68.7750,478.5800,105.8350,11.37,12.033576
17,NaN,117.2725,133.2450,137.0425,66.7050,454.2650,100.3725,14.00,14.100000
18,V2+S3,115.1400,140.5850,119.6650,43.7525,419.1425,89.8925,14.87,13.367037
19,NaN,122.7050,134.8225,125.9100,45.2150,428.6450,91.5150,14.00,12.812531
20,NaN,112.3275,135.2425,129.1725,47.1325,423.8750,90.8075,15.75,14.301387
21,V2+S4,104.4025,122.8350,99.3650,83.0850,409.6875,78.4300,16.62,13.036189
22,NaN,116.9850,126.3350,114.8250,70.2550,428.4075,82.2500,15.75,12.953865
23,NaN,96.7400,132.2225,105.1600,71.7775,405.9000,77.5775,17.50,13.575831
24,Sole rye V3,125.0475,148.4925,178.5050,186.2450,638.2825,135.6000,13.12,17.790461
25,NaN,120.1150,146.2325,189.0475,205.5175,660.9125,141.0875,13.12,18.510157
26,NaN,122.4325,149.4825,212.4875,184.7325,669.1275,141.9925,14.00,19.877832
27,V3+S2,124.2625,156.9600,172.8475,164.0825,618.1525,131.7425,14.00,18.444439
28,NaN,133.3825,160.9625,176.3950,161.2325,631.9800,134.9450,14.00,18.893525
29,NaN,119.8775,157.0475,181.9750,172.5500,631.4500,134.7925,14.87,20.043866
30,V3+S3,129.3350,159.7525,160.7975,148.1850,598.0700,113.9050,16.62,18.932293
31,NaN,120.7875,169.5325,164.6800,174.2325,629.2325,120.2000,15.75,18.930314
32,NaN,127.3650,156.7675,180.6175,161.1775,625.9275,119.4500,16.62,19.853007
33,V3+S4,112.6325,132.9550,144.0950,126.9175,516.6000,96.3325,18.37,17.694962
34,NaN,113.0925,136.5500,139.5925,123.4025,512.6375,95.4750,17.50,16.709210
35,NaN,112.7175,137.1000,149.9475,127.9600,527.7250,98.4125,18.37,18.079193
36,Barseem sole,98.8525,119.1900,107.5775,81.7300,407.3425,72.0850,20.12,14.502820
37,NaN,98.0575,120.0975,105.9150,86.3325,410.4025,72.5075,19.25,13.959227
38,NaN,96.2250,107.5225,108.1000,99.3025,411.1500,72.6450,20.12,14.600000

In [6]:
pd.read_excel('data for analysis.xlsx',index_col='Unnamed: 0')

,Fodder yield at cut 1,Fodder yield at cut 2,Fodder yield at cut 3,Fodder yield at cut 4,Total fodder yield,Dry matter yield,Crude proten content,Crude protein yield
Sole rye V1,131.0050,145.4525,157.7725,168.5700,602.8000,128.7375,12.25,15.771483
NaN,122.7725,135.7625,163.2700,161.9275,583.7325,124.7050,11.37,14.179869
NaN,123.2775,133.0525,175.5875,172.3100,604.2200,129.4975,11.37,14.723777
V1+S2,136.1375,153.3025,150.3075,149.2525,589.0000,116.1100,14.00,16.255934
NaN,141.6900,163.3175,164.6625,150.5225,620.1925,122.1900,13.12,16.032044
NaN,144.3075,156.1000,176.9575,150.6375,627.9950,123.7850,13.12,16.241553
V1+S3,126.8550,167.0250,156.4300,105.0500,555.3600,106.3000,15.75,16.742975
NaN,131.3200,164.6800,168.7300,119.7100,584.4325,111.9100,14.37,16.081224
NaN,132.9450,178.8025,164.2700,99.6700,575.6875,110.2950,15.75,17.372475
V1+S4,121.2050,133.8225,116.7525,109.6225,481.4025,90.3325,18.37,16.594153
NaN,125.7375,148.1075,138.2375,120.2400,532.3225,99.9625,17.50,17.492939
NaN,119.7825,122.8900,124.8425,109.7650,477.2800,89.4950,18.37,16.440917
Sole rye V2,125.3025,131.8375,127.1025,94.2075,478.4575,109.1500,11.37,12.409892
NaN,129.7850,135.0100,139.6650,111.5625,516.0225,117.8650,10.50,12.376099
NaN,125.2300,132.6800,149.4225,97.3300,504.6625,115.3550,12.25,14.130807
V2+S2,115.0300,130.6425,123.8550,61.8375,431.3650,95.3500,12.25,11.679598
NaN,127.6325,148.3025,133.8625,68.7750,478.5800,105.8350,11.37,12.033576
NaN,117.2725,133.2450,137.0425,66.7050,454.2650,100.3725,14.00,14.100000
V2+S3,115.1400,140.5850,119.6650,43.7525,419.1425,89.8925,14.87,13.367037
NaN,122.7050,134.8225,125.9100,45.2150,428.6450,91.5150,14.00,12.812531
NaN,112.3275,135.2425,129.1725,47.1325,423.8750,90.8075,15.75,14.301387
V2+S4,104.4025,122.8350,99.3650,83.0850,409.6875,78.4300,16.62,13.036189
NaN,116.9850,126.3350,114.8250,70.2550,428.4075,82.2500,15.75,12.953865
NaN,96.7400,132.2225,105.1600,71.7775,405.9000,77.5775,17.50,13.575831
Sole rye V3,125.0475,148.4925,178.5050,186.2450,638.2825,135.6000,13.12,17.790461
NaN,120.1150,146.2325,189.0475,205.5175,660.9125,141.0875,13.12,18.510157
NaN,122.4325,149.4825,212.4875,184.7325,669.1275,141.9925,14.00,19.877832
V3+S2,124.2625,156.9600,172.8475,164.0825,618.1525,131.7425,14.00,18.444439
NaN,133.3825,160.9625,176.3950,161.2325,631.9800,134.9450,14.00,18.893525
NaN,119.8775,157.0475,181.9750,172.5500,631.4500,134.7925,14.87,20.043866
V3+S3,129.3350,159.7525,160.7975,148.1850,598.0700,113.9050,16.62,18.932293
NaN,120.7875,169.5325,164.6800,174.2325,629.2325,120.2000,15.75,18.930314
NaN,127.3650,156.7675,180.6175,161.1775,625.9275,119.4500,16.62,19.853007
V3+S4,112.6325,132.9550,144.0950,126.9175,516.6000,96.3325,18.37,17.694962
NaN,113.0925,136.5500,139.5925,123.4025,512.6375,95.4750,17.50,16.709210
NaN,112.7175,137.1000,149.9475,127.9600,527.7250,98.4125,18.37,18.079193
Barseem sole,98.8525,119.1900,107.5775,81.7300,407.3425,72.0850,20.12,14.502820
NaN,98.0575,120.0975,105.9150,86.3325,410.4025,72.5075,19.25,13.959227
NaN,96.2250,107.5225,108.1000,99.3025,411.1500,72.6450,20.12,14.600000

In [10]:
'''when we are importing the excel format data then by default it will
import the first sheet of the excel file.
We can specify the sheet name in the read_excel function by using the 
sheet_name parameter'''

pd.read_excel('data for analysis.xlsx',sheet_name='Sheet2')

# we are importing the specific sheet of the excel file

,Total fodder yield,Dry matter yield,Crude protein yield,Gross returns,Net retunrs,Benefit cost ratio
0,602.8000,128.7375,15.771483,127340.95,86807.768750,2.141641
1,583.7325,124.7050,14.179869,126306.00,85772.818750,2.116109
2,604.2200,129.4975,14.723777,132264.45,91731.268750,2.263109
3,589.0000,116.1100,16.255934,122591.00,78819.648417,1.804962
4,620.1925,122.1900,16.032044,127720.44,83369.648833,1.880941
5,627.9950,123.7850,16.241553,124241.10,79390.663250,1.770113
6,555.3600,106.3000,16.742975,126053.95,83150.358750,1.935923
7,584.4325,111.9100,16.081224,127609.90,83916.228750,1.920563
8,575.6875,110.2950,17.372475,125574.05,81880.628750,1.920563
9,481.4025,90.3325,16.594153,111670.55,70637.972083,1.720233
10,532.3225,99.9625,17.492939,119207.00,78007.973750,1.893442
11,477.2800,89.4950,16.440917,111551.00,70351.973750,1.707612
12,478.4575,109.1500,12.409892,103410.05,63985.298750,1.624972
13,516.0225,117.8650,12.376099,112793.90,73738.363750,1.888048
14,504.6625,115.3550,14.130807,108681.10,69625.813750,1.782746
15,431.3650,95.3500,11.679598,96930.60,58428.540417,1.522880
16,478.5800,105.8350,12.033576,100872.55,63047.551250,1.666824
17,454.2650,100.3725,14.100000,97018.95,59193.951250,1.564941
18,419.1425,89.8925,13.367037,93577.60,55628.209583,1.473709
19,428.6450,91.5150,12.812531,100683.60,63595.480000,1.714713
20,423.8750,90.8075,14.301387,95139.60,58051.480000,1.565231
21,409.6875,78.4300,13.036189,89421.90,51502.268083,1.362540
22,428.4075,82.2500,12.953865,96521.40,59473.042750,1.605294
23,405.9000,77.5775,13.575831,89198.03,52149.922750,1.407626
24,638.2825,135.6000,17.790461,135089.95,90906.072083,2.063955
25,660.9125,141.0875,18.510157,135214.05,89813.573750,1.978242
26,669.1275,141.9925,19.877832,135486.50,90085.773750,1.984242
27,618.1525,131.7425,18.444439,133294.10,89603.580417,2.053593
28,631.9800,134.9450,18.893525,135157.55,90414.611250,2.020760
29,631.4500,134.7925,20.043866,132104.40,87361.461250,1.952519
30,598.0700,113.9050,18.932293,127090.40,83265.789583,1.902519
31,629.2325,120.2000,18.930314,130900.05,85978.600000,1.913968
32,625.9275,119.4500,19.853007,129135.00,84213.300000,1.874675
33,516.6000,96.3325,17.694962,113838.40,72604.905417,1.759945
34,512.6375,95.4750,16.709210,115589.90,74122.998750,1.787522
35,527.7250,98.4125,18.079193,114431.50,72964.598750,1.759589
36,407.3425,72.0850,14.502820,81969.95,43742.501250,1.146031
37,410.4025,72.5075,13.959227,82649.00,45190.167500,1.206399
38,411.1500,72.6450,14.600000,82859.10,45400.517500,1.212010

# Text files

In [15]:
# it is imported through pd.read_csv() function 
# in that we will be using the sep parameter as per requirement